body{
    height: 100vh;
}

.nav-bar-head{
    width: 100%;
    padding: 30px 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-head ul:last-of-type{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-apresentacao{
    width: 100%;
    height: 400PX;
    display: flex;
    align-items: center;
}

.section-apresentacao-texto{
    width: 40%;
    padding-left: 60px;
}

.section-apresentacao-texto h1{
    font-size: 50px;
    text-transform: capitalize;
}

.section-apresentacao-texto h2{
    font-size: 18px;
}



/* cards precos */

.section-planos-titulo{
    text-align: center;
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.cads-planos{
    display: flex;
    justify-content: space-evenly;
}

figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
  }
  figure > * {
    grid-area: 1/1;
    transition: .4s;
  }
  figure figcaption {
    display: grid;
    align-items: end;
    font-family: sans-serif;
    font-size: 2.3rem;
    font-weight: bold;
    color: #0000;
    padding: .75rem;
    background: var(--c,#0009);
    clip-path: inset(0 var(--_i,100%) 0 0);
    -webkit-mask:
      linear-gradient(#000 0 0),
      linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    -webkit-mask-clip: text, padding-box;
    margin: -1px;
  }
  figure:hover figcaption{
    --_i: 0%;
  }
  figure:hover img {
    transform: scale(1.2);
  }
  @supports not (-webkit-mask-clip: text) {
    figure figcaption {
     -webkit-mask: none;
     color: #fff;
    }
  }
  
 