body{
    height: 100vh;
   background-color: #141414;;
}

.nav-bar-head{
    width: 100%;
    padding: 30px 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-head ul:last-of-type{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-apresentacao{
    width: 100%;
    height: 400PX;
    display: flex;
    align-items: center;
}

.section-apresentacao-texto{
    width: 50%;
    
}

.section-apresentacao-texto h1{
    font-size: 70px;
    font-weight: bold;
    text-transform: capitalize;
}

.section-apresentacao-texto h2{
    font-size: 18px;
}



/* cards precos */

.wrapper{
  max-width: 1090px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper .table{
  background: #fff;
  width: calc(33% - 20px);
  padding: 30px 30px;
  position: relative;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.table .price-section{
  display: flex;
  justify-content: center;
}
.table .price-area{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  padding: 2px;
}
.price-area .inner-area{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #fff;
  line-height: 117px;
  text-align: center;
  color: #fff;
  position: relative;
}
.price-area .inner-area .text{
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  top: -10px;
  left: 17px;
}
.price-area .inner-area .price{
  font-size: 45px;
  font-weight: 500;
  margin-left: 16px;
}
.table .package-name{
  width: 100%;
  height: 2px;
  margin: 35px 0;
  position: relative;
}
.table .package-name::before{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  font-weight: 500;
  background: #fff;
  padding: 0 15px;
  transform: translate(-50%, -50%);
}
.table .features li{
  margin-bottom: 15px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.features li .list-name{
  font-size: 17px;
  font-weight: 400;
}
.features li .icon{
  font-size: 15px;
}
.features li .icon.check{
  color: #2db94d;
}
.features li .icon.cross{
  color: #cd3241;
}
.table .btn{
  width: 100%;
  display: flex;
  margin-top: 35px;
  justify-content: center;
}
.table .btn button{
  width: 80%;
  height: 50px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.table .btn button:hover{
  border-radius: 5px;
}
.basic .features li::selection{
  background: #ffd861;
}
.basic ::selection,
.basic .price-area,
.basic .inner-area{
  background: #ffd861;
}
.basic .btn button{
  border: 2px solid #ffd861;
  background: #fff;
  color: #ffd861;
}
.basic .btn button:hover{
  background: #ffd861;
  color: #fff;
}
.premium ::selection,
.premium .price-area,
.premium .inner-area,
.premium .btn button{
  background: #a26bfa;
}
.premium .btn button:hover{
  background: #833af8;
}
.ultimate ::selection,
.ultimate .price-area,
.ultimate .inner-area{
  background: #43ef8b;
}
.ultimate .btn button{
  border: 2px solid #43ef8b;
  color: #43ef8b;
  background: #fff;
}
.ultimate .btn button:hover{
  background: #43ef8b;
  color: #fff;
}
.basic .package-name{
  background: #ffecb3;
}
.premium .package-name{
  background: #d0b3ff;
}
.ultimate .package-name{
  background: #baf8d4;
}
.basic .package-name::before{
  content: "Basic";
}
.premium .package-name::before{
  content: "Premium";
  font-size: 24px;
}
.ultimate .package-name::before{
  content: "Ultimate";
  font-size: 24px;
}
@media (max-width: 1020px) {
  .wrapper .table{
    width: calc(50% - 20px);
    margin-bottom: 40px;
  }
}
@media (max-width: 698px) {
  .wrapper .table{
    width: 100%;
  }
}
::selection{
  color: #fff;
}
.table .ribbon{
  width: 150px;
  height: 150px;
  position: absolute;
  top: -10px;
  left: -10px;
  overflow: hidden;
}
.table .ribbon::before,
.table .ribbon::after{
  position: absolute;
  content: "";
  z-index: -1;
  display: block;
  border: 7px solid #4606ac;
  border-top-color: transparent;
  border-left-color: transparent;
}
.table .ribbon::before{
  top: 0px;
  right: 15px;
}
.table .ribbon::after{
  bottom: 15px;
  left: 0px;
}
.table .ribbon span{
  position: absolute;
  top: 30px;
  right: 0;
  transform: rotate(-45deg);
  width: 200px;
  background: #a26bfa;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 17px;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0,0,0,0.12);
}


  .section-cursos{
    width: 95%;
    margin: 0 auto;
  }

  .section-cursos h3{
    font-size: 30px;
    margin: 30px 0;
  }

  .cursos 
  {
    margin-bottom: 30px;
  }


  .section-aulas-ao-vivo{
    width: 95%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
   
  }

  .section-aulas-ao-vivo-img{
    border-radius: 15px;
  }

  .section-aulas-ao-vivo-img img{
    width: auto;
    height: 400px;
   
  
  }

  .section-aulas-ao-vivo-texto{
    width: 45%;
    padding-top: 30px;
    height: 400px;

   
  }

  .section-aulas-ao-vivo-texto div{
    width: 100%;
    text-align: end;
    
  }

  .section-aulas-ao-vivo-texto p:first-child{
    font-size: 45px;
    font-weight: bold;
    padding-left:40px ;
  }
  
  .section-aulas-ao-vivo-texto p:last-of-type{
    padding-left:40px ;
    font-size: 20px;
  }



  .button {

    background-color: #28a745; /* Verde vibrante */
    color: white; /* Texto branco */
    padding: 15px 25px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
}

.button:hover {
    background-color: #218838; /* Cor de fundo ao passar o mouse */
}

.button:focus {
    outline: none; /* Remove o contorno padrão ao focar */
    box-shadow: 0 0 0 3px rgba(72, 180, 97, 0.5); /* Sombra de foco */
}

.section-cusos-interativos {
  width: 95%;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.section-cusos-interativos-texto {
  flex: 1;
  margin-right: 40px;
}

.section-cusos-interativos-texto h3 {
  font-size: 60px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #333;
}

.section-cusos-interativos-texto p {
  font-size: 20px;
  line-height: 1.6;
  color: #666;
}

.section-cusos-interativos-cards {
  position: relative;
  flex: 1;
}

.card {
  width: 400px;
  height: 240px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  position: absolute;
  right: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-1 {
  top: 0;
  border-radius: 20px;
  right: 180px;
}

.card-2 {
  top: 210px; /* 200px height - 15px overlap */
  border-radius: 20px;
  right: 0;
}


.container-interativo{
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.section-parcerias{
  width: 95%;
  margin: 0 auto;
  display: flex;
}

.section-parcerias-parceira{
  width: 50%;
  padding-bottom: 100px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: ceter;
  justify-content: center;

}


.section-parcerias h3{
  font-size: 60px;
  font-weight: bold;
}

.section-parcerias p{
  font-size: 20px;
}

.section-parcerias div:last-of-type{
  width: 50%;
  
}

.swiper {
  width: 100%;
  height: 100%;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
